<h1> {{title}} </h1>

<form #loginform="ngForm" (ngSubmit)="userLogin(loginform.value)">

  <input type="text" required #name="ngModel" pattern="[a-zA-Z]+$" placeholder="Enter Name" name="name" ngModel>
  <br><span *ngIf="name.invalid && name.touched" style="color: red;">Please enter a name</span>
  <br>

  <input type="text" required #password="ngModel" minlength="3" placeholder="Enter Password" name="password" ngModel>
  <br><span *ngIf="password.invalid && password.touched" style="color: red;">Please enter a password</span><br>

  <button [disabled]="loginform.invalid">Login</button>
</form>
<br>
<!-- <button (click)="userLogin(loginform.value)">Outside of form</button> -->


<h1> {{title1}} </h1>

<form [formGroup]="loginForm" (ngSubmit)="loginUser()">

  <input type="text" placeholder="Enter Name" formControlName="user">
  <br> <span *ngIf="user && user.invalid && user.touched" style="color: red;">Please enter a Name</span> <br>

  <input type="text" placeholder="Enter Password" formControlName="password">
  <br><span *ngIf="password && password.invalid && password.touched" style="color: red;">Please enter a password</span><br>

  <button [disabled]="loginform.invalid">Login</button>
</form>
<br>